@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

.navbar-custom {
	background-color: #05668D;
}

.thead-custom {
	background-color: #028090;
	color: white;
}

.button-edit {
	display: block;
	width: 25%;
	line-height: 40px;
	color: #028090;
	text-align: center;
	background-color: white;
	border: 2px solid #028090;
	border-radius: 5px;
	transition: 0.3s;
}

.button-edit:hover {
	color: white;
	background-color: #028090;
	text-decoration: none;
	transition: 0.3s;
}

.logo {
	height: 40px;
}

.logo:hover {
	filter:drop-shadow(2px 1px 2px white);
}

.logo-active {
	height: 40px;
	filter:drop-shadow(2px 1px 2px white);
}

.list-content {
	margin-top: 25px;
	padding: 20px;
	border: 2px solid #028090;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #028090;
}

.list-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.list-content hr {
	background-color: #028090;
	height: 1px;
}

.homepage-banners {
	display: flex;
	margin-top: 25px;
	border: 2px solid #028090;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #028090;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.homepage-card {
	margin: 20px;
	width: 235px;
	height: 250px;
	border-radius: 5px;
	background-color: #0B4F6C;
	color: white;
}

.btn {
	color: #028090;
	text-align: center;
	background-color: white;
	border: 2px solid #028090;
	border-radius: 5px;
	transition: 0.3s;
}

.btn:hover {
	color: white;
	background-color: #028090;
	text-decoration: none;
	transition: 0.3s;
}

.footer {
	height: 0 0 50px;
  	margin-top: auto;
	text-align: center;
	font-size: medium;
}

.footer hr {
	background-color: #028090;
	height: 2px;
	width: 80%;
}

.alert {
	margin-top: 25px;
}

.alert- {
	margin-top: 25px;
}