{block content}
	<div class="list-content">
        <div class="list-header">
			<h2>Vítejte, {$user->getIdentity()->Full_name}</h2>
		</div>
	</div>

	<div class="list-content">
        <div class="list-header">
			<h2 id="time"></h2>
		</div>
	</div>		
{/block}
