{block content}
    <div class="list-content">
        <div class="list-header">
            <h2>Přidat žádost o proplacení úkonu</h2>
            <a class="button-edit" n:href="Examination:detail examinationId=>$examinationId">zpět</a>
        </div>
        <hr>
        <div>
            {control form}  
        </div>
    </div>
{/block}