{block content}
    <div class="list-content">
        <div class="list-header">
            <h1 n:block=title>Přihlaste se</h1>
        </div>
        <hr>
        <div>
            {include bootstrap-form signInForm}
        </div>
    </div>
{/block}


