{block content}
    <div class="list-content">
        <div class="list-header">
            <h1 n:block=title style="text-align:center">Byli jste odhlášeni !</h1>
            <a class="button-edit" n:href="in">Přihlaste se k jinému účtu</a>
        </div>
        <hr>
        <div>
        </div>
    </div>
{/block}
