{block content}
    <div class="list-content">
        <div class="list-header">
            <h2>Vytvořit nového uživatele</h2>
            <a class="button-edit" type="edit" n:href="HealthProblem:create">zpět</a>
        </div>
        <hr>
        <div>
            {control createForm}
        </div>
    </div>
{/block}